*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 50px;
    width: 100%;
    background-color: #FD6567;
    padding: 10px;
    color: white;
}

.container{
    padding: 20px;
   
}
.content{
    background-color: black;
    height: auto;
    width:30%;
    margin: 30px;
    padding: 20px;
    color: white;
    border-radius: 14px;
    display: inline-block;
    vertical-align: top;
   
}
.content h1{
    color: #FD6567;
    margin-bottom: 20px;

}
.content #bt{
    background-color: #FD6567;
    
    border: none;
    padding: 5px 10px;
   
    border-radius: 4px;
    margin-top: 10px;
  
    
    
    
}
.but{
    position: fixed;
    font-size: 3rem;
    height: 80px;
    width:80px;
    bottom: 20px;
    right:10px;
    background-color: #FD6567;
    border: none;
    border-radius: 50%;
}
.overlay{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: 0.8;
    top:0;
    left:0;
    display: none;
}
.popup{
    position: absolute;
    background-color: #FD6567;
    height: 230px;
    width:400px;
    z-index:3;
    top:20%;
    left:30%;
    padding: 20px;
    border-radius: 12px;
    display: none;
}
.popup input{

    width:100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    
    margin-top: 20px;
}
.popup textarea{

    width:100%;
    background: transparent;
    
    border: 2px solid black;
   margin-bottom: 10px;
    margin-top: 20px;
}

input::placeholder{
    color: black;
    font-size: 1.05rem;
}
textarea::placeholder{
    color: black;
    font-size: 1.05rem;
}
.popup button{
    height: 30px;
    width: 60px;
    background-color: black;
    color: white;
    border: none;
    margin-right:10px ;
    border-radius: 5px;
}
